*
body {
     font-family: Museo, serif ;
     font-size-adjust: 23px;
     background-color: rgb(236, 231, 214);

}  
/*.portrait11{
    height: 800px;
    width: 400px;
    background-image: url(assets/portrait11.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}*/
h1{ /*MUseo*/
    font-size: 350px;
    font-weight: 700;
    opacity: 0.6;
    color: rgb(223, 168, 16);
    text-align: center;
    letter-spacing: -.1em;
    position: fixed; top: 30px;
    animation: h1 6s 1;
}
h2 {/*jos buivenga*/
    font-size: 100px;
    font-weight: 900;
    position: fixed; left: 0px; top: -90px;
    color: rgb(219, 78, 12);
    font-weight: 700;
    opacity: 70%;
}
h6 {  /*1994*/
    font-size: 250px;
    font-weight: 500;
    transform: rotateZ(15deg);
    color: rgb(170, 25, 175);
    position: fixed; top: -90px;
} 
p{ /*paragraph*/
    text-indent: 5px;
    font-size: 20px;
    transform: rotateZ(0deg)
}
h3{ /*love for the letter*/
    font-size: 150px;
    font-weight: 700;
    transform: rotateZ(-15deg);
    color: rgb(206, 138, 36);
    position: fixed; top: -100px;
}

/*h4{ 
    font-size: 400px;
    opacity: 100%;
    position: fixed; top: -89px; bottom: 7px; left: 56px;
    color: rgb(15, 60, 206);
}*/
.numbers{
    color: rgb(241, 45, 19);
    position: fixed; top: px; left: 900px; bottom: 89px;
}
    .number1{
        font-size: 50px;
    }
    .number2{
        font-size: 50px;
        
    }
    .number3{
        font-size: 50px;
        
    }
    .number4{
        font-size: 50px;
        
    }
    .number5{
        font-size: 50px;
        
    }
    .curve1{
        box-align: center;
        width: 34px;
    }
/*.frame{/*
    height: 86px;
    width: 890px;
    align: center;
    border: 90em;
    border-color:black;
    border-radius: 9cm;
    background-color: rgb(27, 141,175);
    position: relative; left: 0.5px; top: 0px; right: 5px bottom: 6px;
    opacity: 0.6; 
}
.u2{
    font-size: 600px;
    opacity: 70%;
    color: rgb(233, 40, 40);
}*/
@keyframes h1 {
    0%{
        color: rgb(223, 203, 22);
        
    }
    50%{
        color: rgb(13, 45, 228);
        letter-spacing: 1.5cm;
    }
    100%{
        color: rgb(33, 209, 107);
    }
}
.quote-wrapper {
    height: 12px;
    width: 500px;
    text-align: left;
    color: rgb(20, 80, 116);
    position: fixed; top: 34px; left: 400px;
    line-height: 2em;
  }