body {
     font-family: Museo, serif ;
     font-size-adjust: 23px;
     background-color: rgb(242, 243, 233);

}  
h1{ /*MUseo*/
    font-size: 300px;
    font-weight: 900;
    opacity: 100%;
    color: rgb(0, 0, 0);
    text-align: center;
    position: relative; bottom: 2000px;
    animation: h1 10s 300;
}
.museo2{
    font-size: 300px;
    font-weight: 900;
    opacity: 100%;
    color: rgb(253, 253, 253);
    text-align: center;
    position: relative; bottom: 2200px;
    animation: h1 10s 300;
}
h2 {/*jos buivenga*/
    font-size: 70px;
    background-color: rgb(0, 0, 0);
    font-weight: 900;
    text-align: center;
    position: relative; bottom: 2200px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    opacity: 100%;
    animation: jos 10s 300;
}
h6 {  /*1994*/
    font-size: 200px;
    font-weight: 900;
    transform: rotateZ(deg);
    color: rgb(0, 0, 0);
    position: relative; left: 5px; top: 100px;
    text-align: center;
} 
    .love{
        animation: year 10s 100;
    }
    .letter{
        animation: year1 10s 100;
    }
.uno{
    animation: year 10s 100;
}
.nueve{
    animation: year 10s 100;
}
.nueve2{
    animation: year1 10s 100;
}
.cuatro{
    animation: year1 10s 100;
}
p{ /*paragraph*/
    text-indent: 3px;
    font-size: 20px;
    transform: rotateZ(0deg)
}
h3{ /*love for the letter*/
    font-size: 150px;
    font-style: italic;
    font-weight: 300;
    transform: rotateZ(0deg);
    color: rgb(0, 0, 0);
    position: relative; top: 850px;
    text-align: center;
}
/*h4{ 
    font-size: 400px;
    opacity: 100%;
    position: fixed; top: -89px; bottom: 7px; left: 56px;
    color: rgb(15, 60, 206);
}*/
.numbers{
    color: rgb(0, 0, 0);
    position: relative; top: 900px; left: 400px;
}
    .number1{
        font-size: 50px;
    }
    .number2{
        font-size: 50px;
        
    }
    .number3{
        font-size: 50px;
        
    }
    .number4{
        font-size: 50px;
        
    }
    .number5{
        font-size: 50px;
        
    }
    .curve1{
        box-align: center;
        width: 34px;
    }
}
/*.frame{/*
    height: 86px;
    width: 890px;
    align: center;
    border: 90em;
    border-color:black;
    border-radius: 9cm;
    background-color: rgb(27, 141,175);
    position: relative; left: 0.5px; top: 0px; right: 5px bottom: 6px;
    opacity: 0.6; 
}*/
.u2{
    font-size: 350px;
}

@keyframes year {
    0%{
        position: relative; right: 300px;
    }
    50%{
        position: relative; right: 0px;
    }
    100%{
        position: relative; right: 0px;
    }
}
@keyframes year1{
    0%{
        position: relative; left: 300px;
    }
    50%{
        position: relative; left: 0px;
    }
    100%{
        position: relative; left: 0px;
    }

}
@keyframes h1 {
    0%{
        color: rgb(0, 0, 0);
        
    }
    50%{
        color: rgb(0, 0, 0);
        letter-spacing: 1.5cm;
    }
    100%{
        color: rgb(0, 0, 0);
    }
}
@keyframes jos{
    0%{
        letter-spacing: .2em;
    }
}
.quote-wrapper {
    height: 12px;
    width: 400px;
    text-align: left;
    color: rgb(0, 0, 0);
    position: relative; bottom: 250px; left: 200px;
    line-height: 2em;
  }